/ArtworkDAO.class
/AssignmentDAO.class
/DAOFactory.class
/MySQLArtworkDAOImpl.class
/MySQLAssignmentDAOimpl.class
/MySQLDAOFactory.class
/MySQLPageDAOImpl.class
/MySQLUserDAOImpl.class
/PageDAO.class
/UserDAO.class
